FaceRored/Service References/ServiceReferenceRobert/Robert2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/Robert?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Robert_KC11" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartMeasure">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Limits">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Robert_KC11" minOccurs="0" name="data_wcf_limits" nillable="true" type="q1:Data_WCF_Limits" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadResFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt_res_file" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadResFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadResFileResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Client_State_And_Measure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Robert_KC11" minOccurs="0" name="sum_wcf_data" nillable="true" type="q2:Sum_WCF_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Client_Measure_Complete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Robert_KC11" minOccurs="0" name="wcf_measure" nillable="true" type="q3:Data_WCF_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Auto_Measure_Complete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Robert_KC11" minOccurs="0" name="wcf_measure" nillable="true" type="q4:Data_WCF_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>